* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
}

/* ! Começando código ---------------------------------- */

.container {
  max-width: 450px;
}

.dropbox_container {
  padding: 0.5rem;
  margin-top: 2rem;
  box-shadow: 5px 6px 10px rgba(146, 145, 145, 0.205);
  border-radius: 3px;
  /* transition: all 0.5s; */
}

.dropbox_container.ativo {
  border-top: 3px solid #2c996c;
}

.dropbox_container.ativo h2,
.dropbox_container.ativo h1 {
  color: #2c996c;
  opacity: 1;
}

.primeira_linha {
  display: flex;
  align-items: center;
}

.primeira_linha:hover h2,
.primeira_linha:hover h1 {
  color: #2c996c;
  opacity: 1;
  cursor: pointer;
}

img {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  transform: rotate(90deg);
}

h1,
h2 {
  font-size: 1.5rem;
  /* color: #2c996c; */
}

h2 {
  margin-right: 1rem;
  opacity: 0.3;
}

.segunda_linha p {
  margin-top: 1rem;
  padding: 0 10px;
  transition: all 0.5s;
}

.hidden {
  display: none;
}
