@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* ! Header ---------------------------------------------------------- */
header {
  background: black;
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

header img {
  height: 80px;
}

.lado_esquerdo {
  display: flex;
  color: white;
  align-items: center;
  column-gap: 20px;
}

.lado_direito {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.lado_direito a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.lado_direito a:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* ! Main e container de filmes ---------------------------------------- */

.texto_main {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

#pagina_filmes {
  padding: 2rem;
}

span {
  color: red;
}

.container_filmes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.cartao_filme {
  height: 600px;
  width: 300px;
  border: 3px solid #bc7eaf;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  border-radius: 10px;
  position: relative;
}

.icone_fecha {
  transform: scale(0.07);
  position: absolute;
  top: -14%;
  right: -28%;
  transition: all 1s;
}

.icone_fecha:hover {
  transform: scale(0.15);
  cursor: pointer;
}

.cartao_filme p {
  max-width: 250px;
  text-align: center;
  font-size: 0.9rem;
}

.cartao_filme img {
  width: 200px;
}

main {
  background: #f5f5dc;
}

/* Tabela da página */

table {
  margin: 0 auto;
  font-weight: bold;
  border-right: 1px solid #a4373c;
}

td {
  border-top: 1px solid #a4373c;
  border-bottom: 1px solid #a4373c;
  text-align: center;
  padding: 0 1rem;
  border-left: 1px solid #a4373c;
}

tr:first-child td:nth-child(1) {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

tr:nth-child(2) {
  color: #a4373c;
}

tr:nth-child(3),
tr:nth-child(5) {
  font-weight: bold;
}

tr:nth-child(4) td:nth-child(1),
tr:nth-child(4) td:nth-child(2) {
  color: green;
}

/* ! Footer --------------------------------------------------------- */

footer {
  height: 50px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 15%;
}

/* ! Tela  Inicial ---------------------------------------- */
#tela_inicial {
  height: 110vh;
  background: #f5f5dc;
  display: flex;
  font-size: 0.9rem;
}

.box_esquerda {
  width: 50%;
  height: 100%;
  background: #f5f5dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 20px;
}

.box_esquerda img {
  max-width: 60%;
  margin: 0 auto;
}

.box_esquerda p {
  padding: 0 15px;
}

.box_direita {
  height: 100%;
  width: 50%;
  background: #d3d3d3;
  display: flex;
  flex-direction: column;
  /*  align-items: center;
  justify-content: space-between; */
}

.cinema_video {
  margin: 0 auto;
  margin-top: 7rem;
}

button {
  padding: 0.5rem 1rem;
  background: #00008b;
  border-radius: 5px;
  color: white;
  max-width: 300px;
  border: 3px solid #fbac13;
}

.box_direita_texto {
  text-align: center;
  margin-top: 5px;
  color: #00008b;
  font-size: 1.3rem;
  font-weight: bold;
}

.box_direita_texto:last-child {
  margin-top: 2rem;
}

/* ! Tela Localização --------------------------- */
#tela_localizacao {
  height: 100vh;
  background: #f5f5dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.box-links {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

li:first-child {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

li {
  font-weight: bold;
}

#tela_localizacao p {
  font-weight: bold;
}

#tela_localizacao p:first-child {
  font-size: 1.3rem;
}
